<div class="catalog-item-popup-success" style="display:none">
	<div class="g-popup__content catalog-item-popup__content catalog-item-popup__content--success _popup-content">
		<h2 class="catalog-item-popup__title">товар <span>добавлен</span> в корзину</h2>
		<div class="catalog-item-popup-success__flex">
			<div class="catalog-item-popup__div">
				<img src="img/cataalog-image.png" alt="" class="catalog-item-popup__img _catalog-item-popup__img">
			</div>
			<div class="catalog-item-popup-success__info">
				<div class="catalog-item-popup-success__count">
					всего товаров в корзине: <span>3</span>
				</div>
				<div class="catalog-item-popup-success__text">
					Обувь ортопедическая малосложная <a href="#">LM ORTHOPEDIC</a> женская, цвет <span>сильвер</span>
				</div>
				<span class="catalog-item-popup-success__price">6500 ₽</span>
			</div>
		</div>
		<div class="catalog-item-popup__btns">
			<a href="#" class="catalog-item-popup__btns-magaz">Примерить в салоне</a>
			<a href="#" class="catalog-item-popup__btns-cart">
				<span>Перейти в корзину</span>
			</a>
		</div>
	</div>
</div>