<div class="catalog-banner">
	<h2 class="catalog-banner__title">Позволить себе больше..</h2>
	<p class="catalog-banner__descr">При покупке двух пар обуви<br> скидка <span>15 %</span>  на одну из пар*</p>
	<span class="catalog-banner__small">*Акция действительна <br>до 31 января 2022 года</span>
</div>