<div class="princips">
	<div class="container">
		<h2 class="about__title">принципы <span>нашей работы</span></h2>
		<div class="princips__block row">
			<div class="princips__flex col-lg-10 row">
				<div class="princips__item col-xl-2 col-lg-8">
					<div class="princips__item-name">Внимательность к симптоматике</div>
					<div class="princips__item-element">1</div>
				</div>
				<div class="princips__item col-xl-2 col-lg-8">
					<div class="princips__item-name">Правильный подбор товаров</div>
					<div class="princips__item-element">2</div>
				</div>
				<div class="princips__item col-xl-2 col-lg-8">
					<div class="princips__item-name">Высокое качество товаров</div>
					<div class="princips__item-element princips__item-element--third">3</div>
				</div>
				<div class="princips__item col-xl-3 col-lg-8">
					<div class="princips__item-name">Комфорт при использований изделий</div>
					<div class="princips__item-element princips__item-element--last">4</div>
				</div>
			</div>
		</div>
		<p class="princips__descr">Посетив салоны «Пегас», Вы можете быть уверены,что найдете необходимый Вам товар, изготовленный по самым современным технологиям и в неизменно высоком качестве</p>
	</div>
</div>