div.container
{
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	padding:0 10px;
}

.g-btn
{
	background: #FF9356;
	border-radius: 50px;
	font-weight: normal;
	font-size: 16px;
	color: #FFFFFF;
	display: inline-block;
	border:0;
}


.g-radio
{
	position: relative;
	font-size: 0;
	display: inline-block;
}
.g-radio__input
{
	position: absolute;
	width: 0;
	height: 0;
	top: 0;
	left: 0;
	z-index: -10;
	visibility: hidden;
	opacity: 0;
	&:enabled
	{
		// включен
		& ~ .g-radio__body
		{
			display: flex;
			align-items: center;
			cursor: pointer;
			.g-radio__box {border-color: #c2c7cf; }
			.g-radio__text {color: #c2c7cf; }
		}
		// включен, но не выбран
		&:not(:checked)
		{
			& ~ .g-radio__body:hover .g-radio__box {
				border-color: rgba(25, 28, 33, 0.7);
				&:before
				{
					content:'';
					display: block;
					border-radius: 10px;
					width: 10px;
					height: 10px;
					background: #f0f1f3;
					position: relative;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}
		// включен и выбран
		&:checked ~ .g-radio__body .g-radio__box{
			border-color: rgba(25, 28, 33, 0.7);
			border-width: 2px;
		}
		&:checked 
		{
			&~ .g-radio__body .g-radio__box:before
			{
				content:'';
				display: block;
				border-radius: 10px;
				width: 10px;
				height: 10px;
				background: rgba(25, 28, 33, 0.7);
				position: relative;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			&~ .g-radio__body .g-radio__text { color: #191C21; }
		}
		// состояние фокуса
		&:hover ~ .g-radio__body .g-radio__text{color: #000000}
	}
	// выключен и выбран
	&:disabled:checked ~ .g-radio__body .g-radio__box
	{
		border-color: pink;
		background-color: gray;
	}
}
// базовые стили для выключенного состояния
.g-radio__box
{
	width: 20px;
	height: 20px;
	border: 1px solid grey;
	display: inline-block;
	vertical-align: top;
	border-radius: 100%;
}
.g-radio__text
{
	font-size: rem(13);
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
}
label.g-radio--btn
{
	width: 285px;
	.g-radio__body
	{
		width: 100%;
		.g-radio__box
		{
			width: 100%;
			height: 48px;
			line-height: 48px;
			border-radius:35px;
			box-shadow: 0px 4px 4px rgba(15, 15, 15, 0.25);
			background: white;
		}
	}
	.g-radio__input:enabled:checked~.g-radio__body .g-radio__box
	{
		border-color: #c2c7cf;
	}
	.g-radio__input:enabled:checked~.g-radio__body .g-radio__box:before
	{
		content: unset;
	}
	.g-radio__text
	{
		position: absolute;
		top: 50%;
		left: 35px;
		transform: translateY(-50%);
		font-weight: normal;
		font-size: 20px;
		line-height: 77.18%;
	}
	svg
	{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 35px;
		path
		{
			fill:#424242;
		}
	}
	.g-radio__input:enabled~.g-radio__body .g-radio__text{color: #424242;}
	.g-radio__input:enabled:checked~.g-radio__body svg
	{
		path
		{
			fill:#89AFCE;
		}
	}
	.g-radio__input:enabled:checked~.g-radio__body .g-radio__text
	{
		font-weight: bold;
		font-size: 20px;
		line-height: 77.18%;
		color: #89AFCE;
	}
}



.g-checkbox
{
	position: relative;
	font-size: 0;
	display: block;
}
.g-checkbox__input
{
	position: absolute;
	width: 0;
	height: 0;
	top: 0;
	left: 0;
	z-index: -10;
	visibility: hidden;
	opacity: 0;
	&:enabled
	{
		// включен
		& ~ .g-checkbox__body
		{
			display: flex;
			align-items: center;
			cursor: pointer;
			.g-checkbox__box { border-color: #FFFFFF; }
			.g-checkbox__text { color: #FFFFFF; }
		}
		// включен, но не выбран
		&:not(:checked)
		{
			& ~ .g-checkbox__body:hover .g-checkbox__box
			{
				background-position: center center;
				// background-image: url(./svg/checkhover.svg);
				background-repeat: no-repeat;
				border-color: white;
			}
		}
		// включен и выбран
		&:checked
		{
			&~ .g-checkbox__body .g-checkbox__box
			{
				border: 2px solid white;
				background-position: center center;
				background-image: url('img/check.svg');
				background-repeat: no-repeat;
			}
			&~ .g-checkbox__body .g-checkbox__text { color: #FFFFFF; }
		}
	}
	// выключен и выбран
	&:disabled:checked ~ .g-checkbox__body .g-checkbox__box,
	&:disabled:checked ~ .g-checkbox__body .g-checkbox__text
	{
		border-color: #FFFFFF;
		color: #FFFFFF;
	}
}
// базовые стили для выключенного состояния
.g-checkbox__box
{
	width: 20px;
	height: 20px;
	border: 1px solid white;
	display: inline-block;
	vertical-align: top;
}
.g-checkbox__text
{
	font-size: 14px;
	max-width: 167px;
	display: inline-block;
	vertical-align: top;
	color: #FFFFFF;
	margin-left: 10px;
	a
	{
		color: #FFFFFF;
		font-size: 14px;
		text-decoration: underline;
	}
}

.find__error
{
	display: none;
	span
	{
		display: block;
		font-weight: normal;
		font-size: 24px;
		line-height: 33px;
		color: #828181;
		margin-bottom: 20px;
	}
}
.container__error
{
	.find__error
	{
		display: block;
	}
	.catalog-list
	{
		display: none;
	}
}
.catalog-list--favor{grid-gap:20px 0;}
.find__error-text
{
	font-weight: normal;
	font-size: 36px;
	line-height: 49px;
	color: #828181;
	margin: 0;
	margin-bottom: 48px;
}
.find__error-label
{
	position: relative;
	max-width: 684px;
	display: block;
	margin-bottom: 40px;
	input
	{
		width: 100%;
		background: #FFFFFF;
		border: 0.5px solid #424242;
		border-radius: 50px;
		height: 48px;
		line-height: 48px;
		font-weight: normal;
		font-size: 24px;
		line-height: 33px;
		color: #828181;
		padding-left:30px;
	}
	svg
	{
		position: absolute;
		top: 50%;
		transform:translateY(-50%);
		right: 30px;
		path{fill:#89AFCE;}
	}
}


.catalog-banner__list
{
	grid-gap:15px 0;
}



.catalog__title{text-align: center;}

.catalog__content-items{padding: 0;}



.not-found
{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 48px;
	img{margin-bottom: 48px;}
}
.not-found img
{
	max-width: 400px;
}
.not-found__title
{
	font-weight: 600;
	font-size: 36px;
	line-height: 1.5;
	color: #424242;
	margin: 0;
}
.not-found__descr
{
	font-weight: normal;
	font-size: 24px;
	line-height: 1.5;
	color: #424242;
	a
	{
		color:#6195BE;
		text-decoration: underline;
	}
}
@media (max-width: 1200px)
{
	.not-found img{width: 700px;}
	.not-found__title
	{
		font-size: 30px;
	}
	.not-found__descr
	{
		font-size: 24px;
	}
}