<div class="address">
	<div class="container">
		<h2 class="address__title">адреса  <span>наших салонов</span></h2>
		<p class="address__descr">Выберите адрес наиболее удобный Вам для посещения</p>
		<div class="address__flex row">
			<div class="address__cities col">
				<div class="g-select _select">
					<input type="hidden" class="_selected-value" />
					<div class="g-select__selected" onclick="pegas.gSelect.toggle(this)">
						<div class="g-select__selected-name _selected-text">г. Благовещенск</div>
						<div class="g-select__arrow">
							{% include "assets/img/arrod-down.svg" %}
						</div>
					</div>
					<div class="g-select__list _options">
						<ul class="g-select__items">
							<li data-value="code-Благовещенск" data-index="0" class="g-select__item _option g-select__item--active" onclick="pegas.gSelect.selecttItem(this);pegas.address.chooseStreet(this)">г. Благовещенск</li>
							<li data-value="code-Благовещенск" data-index="1" class="g-select__item _option" onclick="pegas.gSelect.selecttItem(this);pegas.address.chooseStreet(this)">г. Свободный</li>
							<li data-value="code-Благовещенск" data-index="2" class="g-select__item _option" onclick="pegas.gSelect.selecttItem(this);pegas.address.chooseStreet(this)">г. Белогорск</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="address__street col-auto">
				<div class="g-select _select">
					<input type="hidden" class="_selected-value" />
					<div class="g-select__selected" onclick="pegas.gSelect.toggle(this)">
						<div class="g-select__selected-name _selected-text">г. Благовещенск, ул. Калинина, д. 4</div>
						<div class="g-select__arrow">
							{% include "assets/img/arrod-down.svg" %}
						</div>
					</div>
					<div class="g-select__list _options">
						<ul class="g-select__items _g-select__items--address g-select__items--address active" >
							<li data-value="code-Благовещенск" class="g-select__item _option g-select__item--active" onclick="pegas.address.selecttItem(this,[50.258038, 127.517921])">г. Благовещенск, ул. Калинина, д. 4</li>
							<li data-value="code-Благовещенск" class="g-select__item _option" onclick="pegas.address.selecttItem(this,[50.255734, 127.552236])">г. Благовещенск, ул. Ленина, д. 62</li>
							<li data-value="code-Благовещенск" class="g-select__item _option" onclick="pegas.address.selecttItem(this,[50.264332, 127.528377])">г. Благовещенск, ул. Шевченко, д. 44</li>
							<li data-value="code-Благовещенск" class="g-select__item _option" onclick="pegas.address.selecttItem(this,[50.268104, 127.542256])">г. Благовещенск, ул. Шимановского, д. 78</li>
							<li data-value="code-Благовещенск" class="g-select__item _option" onclick="pegas.address.selecttItem(this,[50.269779, 127.497969])">г. Благовещенск,ул. Больничная, д. 32, (травмпункт)</li>
						</ul>
						<ul class="g-select__items _g-select__items--address g-select__items--address" >
							<li data-value="code-Благовещенск" class="g-select__item _option g-select__item--active" onclick="pegas.address.selecttItem(this,[51.374039, 128.138522])">г. Свободный, ул. Кручинина,  д. 24</li>
						</ul>
						<ul class="g-select__items _g-select__items--address g-select__items--address" >
							<li data-value="code-Благовещенск" class="g-select__item _option g-select__item--active" onclick="pegas.address.selecttItem(this,[50.920605, 128.477833])">г. Белогорск, ул. Кирова, д. 117</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="address__map row">
			<div class="address__map-side col-lg-4 col-md-6">
				<h3>АДРЕС</h3>
				<div class="address__map-side-street _address__map-side-street">г. Благовещенск, ул. Калинина, д. 4</div>
				<h3>ТЕЛЕФОН</h3>
				<a href="tel: +79244449700"> +7 (924) 444-97-00</a>
				<a href="tel: +79244449700"> +7 (924) 444-97-00</a>
				<a class="address__map-side-last" href="tel: +79244449700"> +7 (924) 444-97-00</a>
				<h3>E-MAIL</h3>
				<a href="mailto:pegas-med@bk.ru" class="address__map-side-last">pegas-med@bk.ru</a>
				<h3>ВРЕМЯ РАБОТЫ</h3>
				<div class="address__map-side-time">Пн-пт 10:00 - 18:30</div>
				<div class="address__map-side-time">Сб 10:00 - 17:00</div>
				<div class="address__map-side-time">Вс 10:00 - 15:00</div>
			</div>
			<div class="yamap col-lg-8 col-md-6" id="yamap"></div>
		</div>
	</div>
</div>