<div class="catalog-sidebar col-xl-3">
	<ul class="catalog-sidebar__list">
		<li class="catalog-sidebar__item" onclick="pegas.catalogSidebar.toggle(this)">
			{% include 'assets/img/socks-catalog.svg' %}
			<span>компрессионный трикотаж</span>
			{% include 'assets/img/arrod-down.svg' %}
		</li>
		<li class="catalog-sidebar__toggle">
			<ul class="catalog-sidebar__toggle-list">
				<li class="catalog-sidebar__toggle-item">
					<a href="#">1 класс, 2 класс</a>
				</li>
				<li class="catalog-sidebar__toggle-item">
					<a href="#">Госпитальный</a>
				</li>
			</ul>
		</li>
		<li class="catalog-sidebar__item" onclick="pegas.catalogSidebar.toggle(this)">
			{% include 'assets/img/corset.svg' %}
			<span>ортопедические изделия</span>
			{% include 'assets/img/arrod-down.svg' %}
		</li>
		<li class="catalog-sidebar__toggle">
			<ul class="catalog-sidebar__toggle-list">
				<li class="catalog-sidebar__toggle-item">
					<a href="#">бандажи</a>
				</li>
				<li class="catalog-sidebar__toggle-item">
					<a href="#">корсетные пояса</a>
				</li>
				<li class="catalog-sidebar__toggle-item">
					<a href="#">корректоры осанки</a>
				</li>
				<li class="catalog-sidebar__toggle-item">
					<a href="#">Ортезы на суставы</a>
				</li>
				<li class="catalog-sidebar__toggle-item">
					<a href="#">Фиксаторы шейного отдела</a>
				</li>
				<li class="catalog-sidebar__toggle-item">
					<a href="#">Стельки и корректоры стопы</a>
				</li>
				<li class="catalog-sidebar__toggle-item">
					<a href="#">Ортопедические подушки</a>
				</li>
				<li class="catalog-sidebar__toggle-item">
					<a href="#">ортопедические и противопролежневые матрасы</a>
				</li>
			</ul>
		</li>
		<li class="catalog-sidebar__item" onclick="pegas.catalogSidebar.toggle(this)">
			{% include 'assets/img/brassiere.svg' %}
			<span>товары после мастэктомии</span>
			{% include 'assets/img/arrod-down.svg' %}
		</li>
		<li class="catalog-sidebar__toggle">
			<ul class="catalog-sidebar__toggle-list">
				<li class="catalog-sidebar__toggle-item">
					<a href="#">купальники</a>
				</li>
				<li class="catalog-sidebar__toggle-item">
					<a href="#">протезы</a>
				</li>
				<li class="catalog-sidebar__toggle-item">
					<a href="#">белье</a>
				</li>
			</ul>
		</li>
		<li class="catalog-sidebar__item">
			<a href="#" class="catalog-sidebar__noEvent">
				{% include 'assets/img/massage-ball.svg' %}
				<span>массажные изделия, мячи</span>
			</a>
		</li>
		<li class="catalog-sidebar__item">
			<a href="#" class="catalog-sidebar__noEvent active">
				{% include 'assets/img/shoe.svg' %}
				<span>ортопедическая обувь</span>
			</a>
		</li>
		<li class="catalog-sidebar__item">
			<a href="#" class="catalog-sidebar__noEvent">
				{% include 'assets/img/crutch.svg' %}
				<span>костыли, трости, ходунки</span>
			</a>
		</li>
		<li class="catalog-sidebar__item">
			<a href="#" class="catalog-sidebar__noEvent">
				{% include 'assets/img/insulating-tape.svg' %}
				<span>тейпы, бинты, лонгеты</span>
			</a>
		</li>
	</ul>
</div>