.order
{
	margin-bottom: 80px;
	.g-tabs__content{width: 100%;}
	.g-tabs__content-item
	{
		font-weight: normal;
		font-size: 18px;
		line-height: 150%;
		color: #424242;
		span
		{
			columns: black;
			font-weight: bold;
		}
	}
	@media (max-width:1400px)
	{
		.questions__label input
		{
			font-size: 16px;
		}
	}
	
}
.order__flex
{
	display: flex;
	align-items: end;
	justify-content: space-between;
	width: 100%;
	flex-wrap: wrap;
	

}
.detail-information__params
{
	.g-select
	{
		flex-basis: 24%;
		width: 100%;
	}
	.g-select__selected
	{
		height: 60px;
		border: 0.5px solid #424242;
		width: 100%;
	}
	.g-select__list
	{
		z-index: 10;
	}
}
.questions__label
{
	flex-basis: 24%;
	input
	{
		border: 0.5px solid #424242;
		box-shadow:none;
		border-radius: 50px;
		height: 60px;
		line-height: 60px;
	}
}
.order__title
{
	font-weight: 600;
	font-size: 20px;
	line-height: 152.8%;
	text-transform: uppercase;
	color: #424242;
	margin: 0;
	margin-bottom: 20px;
}
.order__inner-flex
{
	display: flex;
	align-items: end;
	justify-content: space-between;
	width: 100%;
}
.order__inner-flex-label
{
	&:not(:last-child){margin-right: 45px;}
	// flex-basis: 13%;
	width: 100%;
	input
	{
		background: #FFFFFF;
		border: 0.5px solid #424242;
		border-radius: 50px;
		height: 60px;
		line-height: 60px;
		width: 100%;
		padding-left: 20px;
	}
}
.order__inner-flex-label--first
{
	// flex-basis: 48%;
	// input{}
}
.order__inner-flex-label--last
{
	// flex-basis: 46%;
	// input{flex-basis: 35%}
}
.oreder__submit
{
	display: flex;
	align-items: center;
	width: 100%;
	flex-wrap: wrap;
	.questions__btn
	{
		display: inline-block;
		// flex-basis: 14.2%;
		margin-right: 20px;
		width: 230px;
	}
	.g-checkbox
	{
		// flex-basis: 52.3%;
	}
	.g-checkbox__body
	{
		width: 100%;
		.g-checkbox__text
		{
			font-weight: normal;
			font-size: 14px;
			line-height: 152.8%;
			max-width: 100%;
		}
	}
	.g-checkbox__box
	{
		border: 1px solid #424242;
	}
	.g-checkbox__input:enabled~.g-checkbox__body .g-checkbox__box,
	.g-checkbox__input
	{
		border-color: #424242 !important;
	}
	.g-checkbox__input:enabled:checked~.g-checkbox__body .g-checkbox__text
	{
		color: #424242;
	}
	.g-checkbox__input:enabled:checked~.g-checkbox__body .g-checkbox__box
	{
		background-image: url(img/check-black.svg);
	}
	.g-checkbox__input:enabled~.g-checkbox__body .g-checkbox__text
	{
		color: #424242;
		a
		{
			color: #424242;
			font-weight: bold;
		}
	}
}
@media (max-width: 1310px)
{
	.order__flex
	{
		flex-direction: column;
		.g-select
		{
			width: 100%;
			margin-bottom: 20px;
		}
	}
	.questions__label
	{
		margin-bottom: 34px;
	}
	.order__inner-flex
	{
		flex-direction: column;
		align-items: start;
	}
	.order__inner-flex-label
	{
		width: 100%;
		margin-bottom: 10px;
	}
	.oreder__submit
	{
		flex-direction: column;
		.questions__btn
		{
			margin-bottom: 20px;
		}
	}
}