<div class="partners">
	<div class="container">
		<h2 class="advantages__title">Наши партнеры</h2>
		<div class="partners__slider owl-carousel">
			<div class="partners__slide">
				<img src="img/first.png" alt="">
				<img src="img/kreit.png" alt="">
			</div>
			<div class="partners__slide">
				<img src="img/Ecoten.png" alt="">
				<img src="img/medi.png" alt="">
			</div>
			<div class="partners__slide">
				<img src="img/orto.png" alt="">
				<img src="img/ORTO-life.png" alt="">
			</div>
			<div class="partners__slide">
				<img src="img/Ares.png" alt="">
				<img src="img/trives.png" alt="">
			</div>
			<div class="partners__slide">
				<img src="img/lightSTEP.png" alt="">
				<img src="img/Alfachem.png" alt="">
			</div>
			<div class="partners__slide">
				<img src="img/Novea.png" alt="">
				<img src="img/min-truda.png" alt="">
			</div>
		</div>
	</div>
</div>