<div class="dop-questions">
	<h2 class="dop-questions__title">остались вопросы?</h2>
	<p class="dop-questions__descr">Наши квалифицированные консультанты помогут вам подобрать любые ортопедические приспособления в индивидуальном порядке, а также дадут исчерпывающие консультации по любым вопросам.</p>
	<button class="dop-questions__btn g-btn" onclick="pegas.gPopup.open('questions-popup')">Получить консультацию</button>
</div>