<div class="catalog-banner-item col-xxl-4 col-md-6">
	<div class="catalog-banner-item__content">
		<div class="catalog-banner-item__text">
			<span>ортопедическая обувь</span>
		</div>
		<img src="img/catalog-banner-leg.png" alt="" class="position-relative">
	</div>
</div>