<div class="cart">
	<h2 class="cart__title">ваша корзина</h2>
	<p class="cart__descr">всего товаров: <span>2</span></p>
	<div class="cart__table">
		<div class="cart__table-head">
			<div class="cart__table-head-item cart__table-head-item--first">Товар</div>
			<div class="cart__table-head-item">Количество</div>
			<div class="cart__table-head-item">Цена</div>
			<div class="cart__table-head-item">Размер</div>
			<div class="cart__table-head-item">Итого</div>
		</div>
		<div class="cart__table-body">
			<div class="cart__table-body-item cart__table-body-item--first">
				<div class="cart__table-body-image">
					<img src="img/tovar1.png" alt="">
				</div>
				<div class="cart__table-body-info">
					<div class="cart__table-body-info-name">Компрессионные чулки <a href="#">duomed</a> 1 класс компрессии с открытым носком и резинкой на силиконовой основе</div>
					<span>Арт.DO161-0 - S</span>
				</div>
			</div>
			<div class="cart__table-body-item _info-count">
				<button onclick="pegas.detailInformation.remove(this)">{% include 'assets/img/arrod-down.svg' %}</button>
				<span class="_count cart__table-body-item-count">1</span>
				<button onclick="pegas.detailInformation.add(this)">{% include 'assets/img/arrod-down.svg' %}</button>
			</div>
			<div class="cart__table-body-item"><span class="_price" >5 000 </span>&nbsp; руб.</div>
			<div class="cart__table-body-item">М</div>
			<div class="cart__table-body-item d-flex justify-content-between">
				<span>
					<span class="_summ">5 000 </span>&nbsp; руб.
				</span>
				<a href="#" onclick="pegas.cart.remove(this); return false;">
					{% include 'assets/img/close.svg' %}
				</a>
			</div>
		</div>
		<div class="cart__table-body">
			<div class="cart__table-body-item cart__table-body-item--first">
				<div class="cart__table-body-image">
					<img src="img/tovar2.png" alt="">
				</div>
				<div class="cart__table-body-info">
					<div class="cart__table-body-info-name">Компрессионные чулки <a href="#">duomed</a> 1 класс компрессии с открытым носком и резинкой на силиконовой основе</div>
					<span>Арт.DO161-0 - S</span>
				</div>
			</div>
			<div class="cart__table-body-item _info-count">
				<button onclick="pegas.detailInformation.remove(this)">{% include 'assets/img/arrod-down.svg' %}</button>
				<span class="_count cart__table-body-item-count">1</span>
				<button onclick="pegas.detailInformation.add(this)">{% include 'assets/img/arrod-down.svg' %}</button>
			</div>
			<div class="cart__table-body-item"><span class="_price" >5 000 </span>&nbsp; руб.</div>
			<div class="cart__table-body-item">М</div>
			<div class="cart__table-body-item d-flex justify-content-between">
				<span>
					<span class="_summ">5 000 </span>&nbsp; руб.
				</span>
				<a href="#" onclick="pegas.cart.remove(this); return false;">
					{% include 'assets/img/close.svg' %}
				</a>
			</div>
		</div>
		<div class="cart__total">
			<span class="cart__total-text">Итого:</span>
			<span class="cart__total-price _total-price">10 000 </span> руб.
		</div>
	</div>
</div>