.g-select
{
	position: relative;
	display: inline-block;
}
.test
{
	.g-select__selected
	{
		&:hover
		{
			.g-select__list
			{
				visibility: visible;
				opacity: 1;
				top: calc(100% + 10px);
			}
			.g-select__arrow
			{
				transform: rotate(180deg);
			}
		}
	}
}
.g-select__error
{
	position: absolute;
	color:#D01246;
	font-size:10px;
	margin-top:2px;
	display: none;
}
.g-select__selected
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	transition: .05s;
}
.g-select__arrow
{
	width: 12px;
	height: 7px;
	line-height: 0;
	transition: .3s;
	svg
	{
		width: 100%;
		height: 100%;
	}
}
.g-select__selected-name
{
	font-weight: normal;
	font-size: 24px;
	line-height: 41px;
	text-decoration-line: underline;
	color: #FFFFFF;
	margin: 0 17px;
	max-width: 460px;
	word-break: break-word;
}
.g-select__list
{
	position: absolute;
	width: 100%;
	max-height: 330px;
	overflow-y: auto;
	background-color: #fff;
	top: calc(100% - 5px);
	border: 0;
	border-radius: 0 25px 0 25px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	transition: 0.125s ease;
	transform: translateY(-10px);
	visibility: hidden;
	opacity: 0;
	z-index: 2;
	scrollbar-width: none; /* for mozila */
	&::-webkit-scrollbar {
		width: 0px;
		background: transparent;
	}
}
.g-select__item
{
	font-size: 18px;
	line-height: 25px;
	font-weight: normal;
	padding-left: 17px;
	padding-top: 20px;
	padding-bottom: 20px;
	cursor: pointer;
	color: #828181;
	&:not(:last-child)
	{
		border-bottom: 1px solid #C4C4C4;
	}
	&--active{color: #89AFCE;}
	&:hover {color: #89AFCE;}
}
.g-select--opened
{
	.g-select__list
	{
		transform: translateY(16px);
		visibility: visible;
		opacity: 1;
	}
	.g-select__arrow {transform: rotate(180deg); }
}