<div class="contacts">
	<div class="container">
		<h2 class="contacts__title">контакты</h2>
		<p class="contacts__descr">Выберите адрес наиболее удобный Вам для посещения</p>
		<table class="contacts__table">
			<tr class="contacts__tr">
				<td class="contacts__td">
					{% include "assets/img/place.svg" %}
					<span>г. Благовещенск, ул. Шевченко, д. 44</span>
				</td>
				<td class="contacts__td">
					{% include "assets/img/phone.svg" %}
					<span>+7 (4162) 51-55-00</span>
				</td>
				<td class="contacts__td contacts__td--last">
					<div class="contacts__td-svg">
						{% include "assets/img/letter.svg" %}
					</div>
					<span>pegas-med@bk.ru</span>
				</td>
				<td class="contacts__td contacts__td--last">
					<div class="contacts__td-svg">
						{% include "assets/img/clock.svg" %}
					</div>
					<div>
						<span>Пн-пт 09:00 - 18:30</span>
						<span>Сб 10:00 - 17:00</span>
						<span>Вс 10:00 - 15:00</span>
					</div>
				</td>
			</tr>
			<tr class="contacts__tr">
				<td class="contacts__td">
					{% include "assets/img/place.svg" %}
					<span>г. Благовещенск, ул. Калинина, д. 4</span>
				</td>
				<td class="contacts__td contacts__td--last">
					<div class="contacts__td-svg">
						{% include "assets/img/phone.svg" %}
					</div>
					<div>
						<span> +7 (924) 444-97-00</span>
						<span> +7 (4162) 21-17-00</span>
						<span> +7 (4162) 59-38-39</span>
					</div>
				</td>
				<td class="contacts__td contacts__td--last">
					<div class="contacts__td-svg">
						{% include "assets/img/letter.svg" %}
					</div>
					<span>pegas-med@bk.ru</span>
				</td>
				<td class="contacts__td contacts__td--last">
					<div class="contacts__td-svg">
						{% include "assets/img/clock.svg" %}
					</div>
					<div>
						<span>Пн-пт 10:00 - 18:30</span>
						<span>Сб 10:00 - 17:00</span>
						<span>Вс 10:00 - 15:00</span>
					</div>
				</td>
			</tr>

			<tr class="contacts__tr">
				<td class="contacts__td">
					{% include "assets/img/place.svg" %}
					<span>г. Благовещенск, ул. Ленина, д. 62</span>
				</td>
				<td class="contacts__td">
					{% include "assets/img/phone.svg" %}
					<span> +7 (4162) 37-00-04</span>
				</td>
				<td class="contacts__td contacts__td--last">
					<div class="contacts__td-svg">
						{% include "assets/img/letter.svg" %}
					</div>
					<span>pegas-med@bk.ru</span>
				</td>
				<td class="contacts__td contacts__td--last">
					<div class="contacts__td-svg">
						{% include "assets/img/clock.svg" %}
					</div>
					<div>
						<span>Пн-пт 10:00 - 18:30</span>
						<span>Сб 10:00 - 17:00</span>
						<span>Вс 10:00 - 15:00</span>
					</div>
				</td>
			</tr>

			<tr class="contacts__tr">
				<td class="contacts__td">
					{% include "assets/img/place.svg" %}
					<span>г. Благовещенск,ул. Больничная, <br>д. 32, (травмпункт)</span>
				</td>
				<td class="contacts__td contacts__td--last">
					<div class="contacts__td-svg">
						{% include "assets/img/phone.svg" %}
					</div>
					<div>
						<span> +7 (924) 841-81-55</span>
						<span> +7 (4162) 21-81-55</span>
					</div>
				</td>
				<td class="contacts__td contacts__td--last">
					<div class="contacts__td-svg">
						{% include "assets/img/letter.svg" %}
					</div>
					<span>pegas-med@bk.ru</span>
				</td>
				<td class="contacts__td contacts__td--last">
					<div class="contacts__td-svg">
						{% include "assets/img/clock.svg" %}
					</div>
					<div>
						<span>Пн-пт 08:00 - 16:30</span>
						<span>Сб 09:00 - 15:00</span>
						<span>Вс 09:00 - 14:00</span>
					</div>
				</td>
			</tr>

			<tr class="contacts__tr">
				<td class="contacts__td">
					{% include "assets/img/place.svg" %}
					<span>г. Благовещенск, ул. Шимановского,<br> д. 78</span>
				</td>
				<td class="contacts__td contacts__td--last">
					<div class="contacts__td-svg">
						{% include "assets/img/phone.svg" %}
					</div>
					<div>
						<span> +7 (924) 841-27-55</span>
						<span> +7 (4162) 21-27-55</span>
					</div>
				</td>
				<td class="contacts__td contacts__td--last">
					<div class="contacts__td-svg">
						{% include "assets/img/letter.svg" %}
					</div>
					<span>pegas-med@bk.ru</span>
				</td>
				<td class="contacts__td contacts__td--last">
					<div class="contacts__td-svg">
						{% include "assets/img/clock.svg" %}
					</div>
					<div>
						<span>Пн-сб 08:00 - 18:30</span>
						<span>Вс 09:00 - 16:00</span>
					</div>
				</td>
			</tr>

			<tr class="contacts__tr">
				<td class="contacts__td">
					{% include "assets/img/place.svg" %}
					<span>г. Белогорск, ул. Кирова, д. 117</span>
				</td>
				<td class="contacts__td">
					{% include "assets/img/phone.svg" %}
					<span> +7 (924) 444-98-00</span>
				</td>
				<td class="contacts__td contacts__td--last">
					<div class="contacts__td-svg">
						{% include "assets/img/letter.svg" %}
					</div>
					<span>pegas-med@bk.ru</span>
				</td>
				<td class="contacts__td contacts__td--last">
					<div class="contacts__td-svg">
						{% include "assets/img/clock.svg" %}
					</div>
					<div>
						<span>Пн-пт 10:00 - 18:30</span>
						<span>Сб 10:00 - 17:00</span>
						<span>Вс 10:00 - 15:00</span>
					</div>
				</td>
			</tr>

			<tr class="contacts__tr">
				<td class="contacts__td">
					{% include "assets/img/place.svg" %}
					<span>г. Свободный, ул. Кручинина,  д. 24</span>
				</td>
				<td class="contacts__td">
					{% include "assets/img/phone.svg" %}
					<span> +7 (924) 444-97-07</span>
				</td>
				<td class="contacts__td contacts__td--last">
					<div class="contacts__td-svg">
						{% include "assets/img/letter.svg" %}
					</div>
					<span>pegas-med@bk.ru</span>
				</td>
				<td class="contacts__td contacts__td--last">
					<div class="contacts__td-svg">
						{% include "assets/img/clock.svg" %}
					</div>
					<div>
						<span>Пн-пт 10:00 - 18:30</span>
						<span>Сб 10:00 - 17:00</span>
						<span>Вс 10:00 - 15:00</span>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>