<div class="contacts">
	<div class="container">
		<h2 class="contacts__title">контакты</h2>
		<p class="contacts__descr">Выберите адрес наиболее удобный Вам для посещения</p>
		<div class="contacts__table">
			{% for item in 0..10 %}
				<div class="contacts__tr row">
					<div class="contacts__td col-lg-4">
						{% include "assets/img/place.svg" %}
						<span>г. Благовещенск, ул. Шевченко, д. 44</span>
					</div>
					<div class="contacts__td col-auto">
						{% include "assets/img/phone.svg" %}
						<span>+7 (4162) 51-55-00</span>
					</div>
					<div class="contacts__td col-auto contacts__td--last">
						<div class="contacts__td-svg">
							{% include "assets/img/letter.svg" %}
						</div>
						<span>pegas-med@bk.ru</span>
					</div>
					<div class="contacts__td contacts__td--last col-lg-3">
						<div class="contacts__td-svg">
							{% include "assets/img/clock.svg" %}
						</div>
						<div>
							<span>Пн-пт 09:00 - 18:30</span>
							<span>Сб 10:00 - 17:00</span>
							<span>Вс 10:00 - 15:00</span>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>