<div class="about-work">
	<h2 class="about__title">ГЛАВНОЕ <span>О НАШЕЙ РАБОТЕ</span></h2>
	<p class="about-work__descr">Сеть салонов «Пегас» уже не один год успешно работает на отечественном рынке. Здесь Вы можете приобрести уже готовые образцы ортопедических изделий любой сложности или сделать заказ на необходимые вам товары.  </p>
</div>