<div class="cart-success row align-items-end">
	<div class="col-xxl-6 col-xl-7">
		<div class="cart-success__text">
			<h2 class="cart-success__title">Благодарим за <span>ваш заказ</span></h2>
			<div class="cart-success__flex">
				<p>
					А также за 
					<span>вклад в Ваше здоровье</span>
					{% include 'assets/img/heart-success.svg' %}
				</p>
				
			</div>
			<div class="cart-success__flex cart-success__flex--btns">
				<a href="#">На главную</a>
				<a href="#">В каталог</a>
			</div>
			<p class="cart-success__descr">Ждем Вас в наших соцсетях</p>
			<div class="cart-success__flex cart-success__flex--last">
				<a href="https://www.instagram.com/pegas_orto/">{% include 'assets/img/inst-second.svg' %}</a>
				<a href="https://ok.ru/profile/583969502001">{% include 'assets/img/odnok-second.svg' %}</a>
				<a href="https://www.instagram.com/bereginya_blag/">{% include 'assets/img/inst-second.svg' %}</a>
			</div>
		</div>
	</div>
	<div class="col">
		<img src="img/cart-success.jpg" class="img-fluid">
	</div>
</div>