.cart-success
{
	padding: 90px 0 0px;
	// background-image: url('img/cart-success.png');
	// background-repeat: no-repeat;
	// background-position: right top;
}
.cart-success__title
{
	font-family: $second-font;
	font-weight: 600;
	font-size: 48px;
	@media (max-width:1400px)
	{
		font-size: 40px;
	}
	line-height: 150%;
	text-transform: uppercase;
	color: #424242;
	margin: 0;
	margin-bottom: 18px;
	span{color:#FF9356;}
}
.cart-success__flex
{
	display: flex;
	align-items: center;
	margin-bottom: 60px;
	p
	{
		font-family: $second-font;
		font-weight: 600;
		font-size: 40px;
		@media (max-width:1400px)
		{
			font-size: 30px;
		}
		line-height: 150%;
		color: #424242;
		margin: 0;
		margin-right: 21px;
		span
		{
			color:#A1BFD7;
		}
	}
}
.cart-success__flex--btns
{
	a
	{
		height: 60px;
		line-height: 58px;
		font-weight: normal;
		font-size: 18px;
		color: #FFFFFF;
		border-radius: 50px;
		&:first-child
		{
			background: #89AFCE;
			margin-right: 31px;
			padding: 0 44px;
		}
		&:last-child
		{
			background: #FF9356;
			padding: 0 53px;
		}
	}
}
.cart-success__flex--last
{
	a:nth-child(2){margin: 0 24px;}
}
.cart-success__descr
{
	font-weight: normal;
	font-size: 40px;
	@media (max-width:1400px)
	{
		font-size: 30px;
	}
	line-height: 54px;
	color: #424242;
}
@media (max-width: 1200px)
{
	.cart-success{background: unset;}
}