<div class="advantages row">
	<h2 class="advantages__title">Наши преимущества</h2>
	<p class="advantages__descr col-lg-6">В ортопедических салонах «Пегас» Вы можете приобрести уже готовые образцы ортопедических изделий любой сложности или сделать заказ на необходимые вам товары.  Наши квалифицированные консультанты помогут вам подобрать любые ортопедические приспособления в индивидуальном порядке, а также дадут исчерпывающие консультации по любым вопросам.</p>
	<ul class="advantages__list row col-lg-6 col-md-10">
		<li class="advantages__item col-md-4 col-lg-4">
			<img src="img/quality.svg" />
			<span>Высокое качество</span>
		</li>
		<li class="advantages__item col-md-4 col-lg-4">
			<img src="img/shopping-bag.svg" />
			<span>Широкий ассортимент</span>
		</li>
		<li class="advantages__item col-md-4 col-lg-4">
			<img src="img/handshake.svg" />
			<span>нам доверяют</span>
		</li>
		<li class="advantages__item col-md-4 col-lg-4">
			<img src="img/achievement.svg" />
			<span>11 лет успешной работы</span>
		</li>
		<li class="advantages__item col-md-4 col-lg-4">
			<img src="img/achievement.svg" />
			<span>Гибкие цены</span>
		</li>
		<li class="advantages__item col-md-4 col-lg-4">
			<img src="img/individual.svg" />
			<span>Индивидуальный подход</span>
		</li>
	</ul>
	<div class="advantages__link-blok">
		<a href="#" class="advantages__link">Больше о нас</a>
	</div>
</div>