<div class="catalog-banner-slider owl-carousel col-xxl-8 col-xl-12 col-md-6">
	<div class="catalog-banner-slider__slide">
		<img src="img/present.png" alt="" class="catalog-banner-slider__desc">
		<img src="img/present-mob.png" class="catalog-banner-slider__mob" alt="">
		<div class="catalog-banner-slider__content">
			<h2 class="catalog-banner-slider__title">поДарите здоровье</h2>
			<div class="catalog-banner-slider__text">
				В ортопедических салонах ”Пегас” Вы можете заказать <a href="#">подарочный сертификат на</a> сумму от 1000 руб.
			</div>
		</div>
	</div>
	<div class="catalog-banner-slider__slide">
		<img src="img/present.png" alt="" class="catalog-banner-slider__desc">
		<img src="img/present-mob.png" class="catalog-banner-slider__mob" alt="">
		<div class="catalog-banner-slider__content">
			<h2 class="catalog-banner-slider__title">поДарите здоровье</h2>
			<div class="catalog-banner-slider__text">
				В ортопедических салонах ”Пегас” Вы можете заказать <a href="#">подарочный сертификат на</a> сумму от 1000 руб.
			</div>
		</div>
	</div>
	<div class="catalog-banner-slider__slide">
		<img src="img/present.png" alt="" class="catalog-banner-slider__desc">
		<img src="img/present-mob.png" class="catalog-banner-slider__mob" alt="">
		<div class="catalog-banner-slider__content">
			<h2 class="catalog-banner-slider__title">поДарите здоровье</h2>
			<div class="catalog-banner-slider__text">
				В ортопедических салонах ”Пегас” Вы можете заказать <a href="#">подарочный сертификат на</a> сумму от 1000 руб.
			</div>
		</div>
	</div>
	<div class="catalog-banner-slider__slide">
		<img src="img/present.png" alt="" class="catalog-banner-slider__desc">
		<img src="img/present-mob.png" class="catalog-banner-slider__mob" alt="">
		<div class="catalog-banner-slider__content">
			<h2 class="catalog-banner-slider__title">поДарите здоровье</h2>
			<div class="catalog-banner-slider__text">
				В ортопедических салонах ”Пегас” Вы можете заказать <a href="#">подарочный сертификат на</a> сумму от 1000 руб.
			</div>
		</div>
	</div>
</div>