<div class="questions">
	<h3 class="questions__title">ЕСЛИ У ВАС ОСТАЛИСЬ ВОПРОСЫ ПО ТОВАРАМ ИЛИ РАБОТЕ НАШИХ САЛОНОВ</h3>
	<p class="questions__descr">Выберите удобный способ связи</p>
	<form class="questions__rows row" onsubmit="return pegas.questions.submit(this)">
		<label class="g-radio g-radio--btn col-xl-3 col-lg-4 col-md-6">
			<input type="radio" name="btn" class="g-radio__input">
			<div class="g-radio__body">
				<span class="g-radio__box"></span>
				<span class="g-radio__text">Звонок</span>
				{% include 'assets/img/phone.svg' %}
			</div>
		</label>
		<label class="g-radio g-radio--btn col-xl-3 col-lg-4 col-md-6">
			<input type="radio" name="btn" class="g-radio__input">
			<div class="g-radio__body">
				<span class="g-radio__box"></span>
				<span class="g-radio__text">Viber</span>
				{% include 'assets/img/viber.svg' %}
			</div>
		</label>
		<label class="g-radio g-radio--btn col-xl-3 col-lg-4 col-md-6">
			<input type="radio" name="btn" class="g-radio__input">
			<div class="g-radio__body">
				<span class="g-radio__box"></span>
				<span class="g-radio__text">WhatsApp</span>
				{% include 'assets/img/whatsapp.svg' %}
			</div>
		</label>
		<label class="g-radio g-radio--btn col-xl-3 col-lg-4 col-md-6">
			<input type="radio" name="btn" class="g-radio__input">
			<div class="g-radio__body">
				<span class="g-radio__box"></span>
				<span class="g-radio__text">Telegram</span>
				{% include 'assets/img/telegram.svg' %}
			</div>
		</label>
		<label class="questions__label _field col-xl-3 col-lg-4 col-md-6" data-call="empty">
			<input type="text" placeholder="Ваше имя">
			<div class="err_msg _error-msg">Error: invalid name</div>
		</label>
		<label class="questions__label _field col-xl-3 col-lg-4 col-md-6" data-code="phone" data-call="empty phone">
			<input type="text" placeholder="Ваш телефон" class="_phone-mask">
			<div class="err_msg _error-msg">Error: invalid name</div>
		</label>
		<input type="submit" class="questions__btn col-xl-2 col-lg-3 col-lg-4" value="Отправить">
		<label class="g-checkbox g-checkbox--label _field col-xl-2 col-lg-3 col-lg-4" data-call="checked">
			<input type="checkbox" name="checkbox" class="g-checkbox__input">
			<div class="g-checkbox__body">
				<span class="g-checkbox__box"></span>
				<div class="g-checkbox__text">
					Согласие на обработку <a href="#">персональных данных</a>
				</div>
			</div>
		</label>
	</form>
	<div class="success">
		{% include 'assets/img/checked.svg' %}
		<h2 class="success__title">Спасибо, <span>ваша заявка</span> принята!</h2>
		<p class="success__descr">В ближайшее время с Вами свяжутся наши специалисты</p>
		<span class="success__abs">Ждем Вас в наших соцсетях</span>
		<div class="success__flex">
			<a href="https://www.instagram.com/pegas_orto/">{% include 'assets/img/inst.svg' %}</a>
			<a href="https://ok.ru/profile/583969502001">{% include 'assets/img/odnok.svg' %}</a>
			<a href="https://www.instagram.com/bereginya_blag/">{% include 'assets/img/inst.svg' %}</a>
		</div>
	</div>
</div>