.success
{
	display: none;
	max-width: 464px;
	margin: 0 auto;
	text-align: center;
	svg
	{
		margin: 0 auto;
		margin-bottom: 30px;
	}
	.success__title
	{
		font-weight: 600;
		font-size: 24px;
		line-height: 160%;
		text-align: center;
		text-transform: uppercase;
		color: #FFFFFF;
		margin: 0;
		margin-bottom: 20px;
		span
		{
			color: #FF9356;
		}
	}
	.success__descr
	{
		font-weight: 600;
		font-size: 24px;
		line-height: 33px;
		text-align: center;
		color: #FFFFFF;
		margin: 0;
		margin-bottom: 30px;
	}
	span.success__abs
	{
		font-weight: 600;
		font-size: 18px;
		line-height: 25px;
		color: #FFFFFF;
		text-align: center;
		display: block;
		margin-bottom: 10px;
	}
	.success__flex
	{
		display: flex;
		justify-content: center;
		a
		{
			&:nth-child(2){margin: 0 5px;}
		}
	}
	.success__link
	{
		height: 60px;
		line-height: 60px;
		background: #FF9356;
		font-weight: normal;
		font-size: 16px;
		color: #FFFFFF;
		margin-bottom: 40px;
		padding: 0 50px;
		border-radius: 50px;
		display: inline-block;
	}
	&.show{display: block;}
}
.questions
{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 80px;
	width: 100%;
	border-radius: 35px;
	background-image: url('img/bg.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	&.pr{padding-right: 180px;}
	.g-checkbox__text{width: 167px;}
}
.questions__title
{
	font-family: $second-font;
	font-weight: 600;
	font-size: 20px;
	line-height: 160%;
	max-width: 560px;
	margin: 0;
	margin-bottom: 15px;
	color: white;
	margin-right: auto;
	text-transform: uppercase;
}
.questions__descr
{
	font-weight: normal;
	font-size: 20px;
	line-height: 1.3;
	color: white;
	margin: 0;
	margin-bottom: 30px;
	text-align: left;
	width: 100%;
}
.questions__rows
{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	// grid-gap: 50px;
	.g-radio
	{
		margin-bottom: 30px;
	}
}
.questions__label
{
	width: 100%;
	position: relative;
	.err_msg
	{
		position: absolute;
		bottom: -30px;
		right: 1px;
		width: 100%;
		text-align: center;
		font-weight: bold;
		font-size: 14px;
		line-height: 152.8%;
		color: #FB0606;
		visibility: hidden;
		opacity: 0;
		transition:.2s;
	}
	&.error
	{
		.err_msg
		{
			visibility: visible;
			opacity: 1;
			transition:.2s;
		}
		input
		{
			border: 1px solid #FB0606;
		}
	}
	input
	{
		width: 100%;
		border: 1px solid #C6C6C6;
		background: #FFFFFF;
		box-shadow: inset 0px 4px 4px rgba(15, 15, 15, 0.25);
		border-radius: 35px;
		font-weight: normal;
		font-size: 18px;
		height: 60px;
		line-height: 60px;
		padding: 0 30px;
		&::placeholder
		{
			font-weight: normal;
			font-size: 18px;
			color: #9D9D9D;
		}
	}
}
.g-checkbox--label
{
	&.error
	{
		.g-checkbox__input:enabled~.g-checkbox__body .g-checkbox__box
		{
			border-color: #FB0606;
		}
	}
}
.questions__btn
{
	width: 100%;
	height: 60px;
	background: #FF9356;
	border-radius: 50px;
	border:0;
	line-height: 60px;
	font-weight: normal;
	font-size: 16px;
	color: #FFFFFF;
	&:hover
	{
		background: #FF5D03;
		color: white;
	}
}
@media (max-width: 1024px)
{
	.questions
	{
		padding: 80px;
		background-size: cover;
		overflow: hidden;
		border-radius:85px;
	}
}