<div class="head-content">
	<div class="container">
		<div class="d-flex align-items-center">
			<div class="head-content__links">
				<a href="https://www.instagram.com/pegas_orto/">{% include 'assets/img/inst.svg' %}</a>
				<a href="https://ok.ru/profile/583969502001">{% include 'assets/img/odnok.svg' %}</a>
				<a href="https://www.instagram.com/bereginya_blag/">{% include 'assets/img/inst.svg' %}</a>
			</div>
			<div style="margin-left: auto">
				<div class="justify-content-center head-content__content">
					<a href="#" class="head-content__content-link">Компрессионный  трикотаж</a>
					<a href="#" class="head-content__content-link">ортопедические изделия</a>
				</div>
				<div class="justify-content-center head-content__content">
					<a href="#" class="head-content__content-link">Компрессионный  трикотаж</a>
					<a href="#" class="head-content__content-link">ортопедические изделия</a>
				</div>
				<div class="justify-content-center head-content__content">
					<a href="#" class="head-content__content-link">Компрессионный  трикотаж</a>
					<a href="#" class="head-content__content-link">ортопедические изделия</a>
				</div>
				<div class="justify-content-center head-content__content">
					<a href="#" class="head-content__content-link">Компрессионный  трикотаж</a>
				</div>
			</div>
		</div>
	</div>
</div>