{% extends "layouts/dop-lay.twig" %}

{% block page %}
	<div class="container">
		{% include '/blocks/breadcrumps/breadcrumps.twig' %}
		{% include '/blocks/about-work/about-work.twig' %}
	</div>
	{% include '/blocks/about-advantages/about-advantages.twig' %}
	{% include '/blocks/princips/princips.twig' %}
	{% include '/blocks/dop-questions/dop-questions.twig' %}
	{% include '/blocks/questions-popup/questions-popup.twig' %}
{% endblock %}
