{% extends "layouts/dop-lay.twig" %}

{% block page %}
	<div class="container">
		{% include '/blocks/breadcrumps/breadcrumps.twig' %}
		{% include '/blocks/cart/cart.twig' %}
		{% include '/blocks/order/order.twig' %}
		<h2 class="about__title">Вы смотрели ранее</h2>
		<div class="catalog-list row">
			{% for item in 0..3 %}
				{% include '/blocks/catalog-item/catalog-item.twig' %}
			{% endfor %}
		</div>
	</div>
	{% include '/blocks/catalog-item-popup/catalog-item-popup.twig' %}
	{% include '/blocks/catalog-item-popup-success/catalog-item-popup-success.twig' %}
{% endblock %}