{% extends "layouts/dop-lay.twig" %}

{% block page %}
	<div class="container">
		{% include '/blocks/breadcrumps/breadcrumps.twig' %}
		{% include '/blocks/detail-information/detail-information.twig' %}
		{% include '/blocks/g-tabs-border/g-tabs-border.twig' %}
		<h2 class="about__title">Вы смотрели ранее</h2>
		<div class="catalog-list row">
			{% for item in 0..3 %}
				{% include '/blocks/catalog-item/catalog-item.twig' %}
			{% endfor %}
		</div>
		{% include '/blocks/detail-information-popup/detail-information-popup.twig' %}
		{% include '/blocks/detail-rev-popup/detail-rev-popup.twig' %}
		{% include '/blocks/catalog-item-popup/catalog-item-popup.twig' %}
		{% include '/blocks/catalog-item-popup-success/catalog-item-popup-success.twig' %}
	</div>
{% endblock %}
