{% extends "layouts/dop-lay.twig" %}

{% block page %}
	<div class="container">
		{% include '/blocks/breadcrumps/breadcrumps.twig' %}
		<h2 class="about__title">ваши избранные товары</h2>
		<div class="catalog-list catalog-list--favor row">
			{% for item in 0..5 %}
				<div class="catalog-item-wrapper col-xl-3">
					{% include '/blocks/catalog-item/catalog-item.twig' %}
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
