{% extends "layouts/dop-lay.twig" %}

{% block page %}
<div class="container">
		{% include '/blocks/breadcrumps/breadcrumps.twig' %}
		<h2 class="about__title">Вы смотрели ранее</h2>
		<ul class="g-ul">
			<li class="g-li">1. Интернет-магазин ортопедических изделий www.pegas-med.ru осуществляет продажу товаров по образцам, именуется в дальнейшем Продавец.</li>
			<li class="g-li">2. Юридическое или физическое лицо, намеривающееся оформить Заказ товара в интернет-магазине у Продавца, именуется в дальнейшем Покупатель.</li>
			<li class="g-li">3. Нажатием кнопки «ОФОРМИТЬ ЗАКАЗ» Покупатель подтверждает свое полное и безоговорочное согласие с настоящими Условиями, а также со всеми иными документами и правилами, изложенными в разделе «ПОКУПАТЕЛЮ» интернет-магазина «ПЕГАС».</li>
		</ul>
		<h2 class="about__title">порядок оплаты</h2>
		<p class="rules__descr">Покупатель производит оплату наличным расчетом курьеру в момент доставки товара. В случае, когда покупатель самостоятельно забирает заказ, оплата происходит в магазине-салоне.   </p>
		<h2 class="about__title">правила интернет-магазина “пегас”</h2>
		<p class="rules__descr">Размещая заказ в Магазине, Покупатель соглашается с тем, что, в случае невозможности исполнения (полностью или частично) заказа Продавцом, Покупатель не имеет права требовать уплаты неустойки или иных штрафных санкций, связанных с неисполнением заказа, за исключением случаев, предусмотренных настоящими Правилами.</p>
		<p class="rules__descr">Покупатель несет всю ответственность за сообщение Продавцу верных сведений о себе, своем почтовом адресе и других сведений, необходимых для исполнения сторонами обязательств по продаже товара и его оплате. В случае неисполнения Продавцом обязательств, связанных с исполнением заказа, по причине сообщения Покупателем недостоверных сведений о себе Продавец не несет ответственности за неисполнение заказа. Повторная доставка товара, а также иные действия со стороны Продавца производятся только по согласованию сторон с отнесением соответствующих дополнительных расходов на Покупателя. Продавец не гарантирует Покупателю наличие заказанного товара в Магазине в момент начала комплектования заказа. Отсутствие товаров, указанных в заказе, в момент начала комплектования заказа не является нарушением со стороны Продавца прав и законных интересов Покупателя.</p>
		<p class="rules__descr">Продавец считается полностью исполнившим свои обязательства по продаже товаров с момента принятия товара Покупателем или иным, указанным им, лицом от курьера.</p>
		<h2 class="about__title">отказ от товара</h2>
		<p class="rules__descr">Покупатель имеет право отказаться от заказа на любой стадии его оформления. Сделка считается совершенной при условии надлежащего и своевременного выполнения обязательств: со стороны Продавца - передача товара Покупателю, со стороны Покупателя - совершение оплаты. Возврат товара осуществляется в соответствии с действующим законодательством РФ.</p>
	</div>
{% endblock %}