
{# layout.twig #}
<!DOCTYPE html>
<html>
<head>
    <!--[if IE 6]>		<html id="section-reco_main" class="nojs ie6 ieb7 ieb8 ieb9 ieb10 split1 nosplit5 platform-PC platform-notouch"><![endif]-->
	<!--[if IE 7]>		<html id="section-reco_main" class="nojs iea6 ie7 ieb8 ieb9 ieb10 split1 nosplit5 platform-PC platform-notouch"><![endif]-->
	<!--[if IE 8]>		<html id="section-reco_main" class="nojs iea6 iea7 ie8 ieb9 ieb10 split1 nosplit5 platform-PC platform-notouch"><![endif]-->
	<!--[if IE 9]>		<html id="section-reco_main" class="nojs iea6 iea7 iea8 ie9 ieb10 split1 nosplit5 platform-PC platform-notouch"><![endif]-->
	<meta name="viewport" content="width=device-width">
	<meta name="MobileOptimized" content="768"/>
	<meta name="HandheldFriendly" content="true"/>
	<meta charset="utf-8">
	<meta name="viewport min-width=768px" content="min-width=768, initial-scale=1.0" />
	<!-- <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script> -->
	<script src="src/assets/api-maps.yandex.ru.js" type="text/javascript"></script>
	<!--[if lt IE 9]>
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
	<![endif]-->
	<title>index</title>
</head>
<body style="opacity: 0; transition: 0.3s;">
	{% include "blocks/dop-header/dop-header.twig" %}
	{% block page %}{% endblock %}
	{% include "blocks/footer/footer.twig" %}
	{% include 'blocks/g-popup/g-popup.twig'  %}
	<script type="text/javascript" src="./main.min.js" defer="" async=""></script>
</body>
</html>