<div class="about-advantages">
	<div class="container">
		<h2 class="about__title">НАШИ <span>ПРЕИМУЩЕСТВА</span></h2>
		<ul class="about-advantages__list row">
			<li class="about-advantages__item col-md-4 col-lg-3">
				{# {% include 'assets/img/support.svg' %} #}
				<img src="img/support.svg" alt="">
				<span>Консультация по любой ортопедической продукции</span>
			</li>
			<li class="about-advantages__item col-md-4 col-lg-3">
				{# {% include 'assets/img/feet.svg' %} #}
				<img src="img/feet.svg" alt="">
				<span>Индивидуальный подбор ортопедических стелек</span>
			</li>
			<li class="about-advantages__item col-md-4 col-lg-3">
				{# {% include 'assets/img/group.svg' %} #}
				<img src="img/group.svg" alt="">
				<span>Регулярные сезонные акции<br> с хорошими скидками</span>
			</li>
			<li class="about-advantages__item col-md-4 col-lg-3">
				{# {% include 'assets/img/listen.svg' %} #}
				<img src="img/listen.svg" alt="">
				<span>Умение выслушать и понять каждого клиента</span>
			</li>
			<li class="about-advantages__item col-md-4 col-lg-3">
				{# {% include 'assets/img/socks.svg' %} #}
				<img src="img/socks.svg" alt="">
				<span>Индивидуальный подбор и заказ компрессионного и госпитального трикотажа</span>
			</li>
			<li class="about-advantages__item col-md-4 col-lg-3">
				{# {% include 'assets/img/pillow.svg' %} #}
				<img src="img/pillow.svg" alt="">
				<span>Подбор ортопедических подушек<br> и матрасов для комфортного<br> и здорового сна</span>
			</li>
			<li class="about-advantages__item col-md-4 col-lg-3">
				{# {% include 'assets/img/crutch.svg' %} #}
				<img src="img/crutch.svg" alt="">
				<span>Подбор ортезов и других медицинских ортопедических изделий</span>
			</li>
			<li class="about-advantages__item col-md-4 col-lg-3">
				{# {% include 'assets/img/MaskGroup.svg' %} #}
				<img src="img/MaskGroup.svg" alt="">
				<span>Сеть ортопедических салонов для удобства посещения нашим клиентам</span>
			</li>
		</ul>
		<div class="about-advantages__flex row">
			<div class="col-xl-6 col-lg-12 col-md-12">
				<div class="about-advantages__banner ">
					<img src="img/leg.png" alt="">
					<span>Наши изделия необходимы людям с травмами позвоночника и суставов, проблемами варикоза и плоскостопия,для реабилитации после операций и, конечно, поддержания крепкого здоровья</span>
				</div>
			</div>
			<div class="col-xl-6 col-lg-12 col-md-12">
				<div class="about-advantages__banner">
					<img src="img/herniated-disk.png" alt="">
					<span>Особое внимание уделено подбору изделий для людей страдающих заболеваниями позвоночника и суставов. Важно, чтобы они максимально точно соответствовали анатомическим особенностям тела</span>
				</div>
			</div>
		</div>
	</div>
</div>